<li id="ahmed-included">Ahmed, Sara, <i>On Being Included - Racism and Diversity in Institutional life</i>, Durham, Duke University Press, 2012, p. 65.</li>

<li id="ahmed">Ahmed, Sara, <i>What is Feminist Research Series with Sara Ahmed</i> [Conférence], FRI UC Davis, 6 June 2018. Disponible sur : <a href="https://www.youtube.com/watch?v=djc8TEUhPiA">https://www.youtube.com/watch?v=djc8TEUhPiA</a> (consulté le 17 janvier, 2022)</li>


<li id="alvarez-deligny">Alvarez de Toledo, Sandra « L’inactualité de Fernand Deligny ». In : <em>Œuvres</em>. Paris : L’Arachnéen, 2017. p. 21‑37.</li>

<li>Anthouard, Louise et Jennifer Thomas, <em>De l’injonction à l’autonomie à l’impossibilité de l’intimité pour des jeunes filles « handicapées » vivant en institution spécialisée</em>. Genre, sexualité & société, n°26. 1 décembre 2021.</li>

<li id="creolisation">Bacquaert Sophie-Clarisse et Van Zandt-Escobar, Alejandro, <em>Vers une communauté enseignante</em> [En ligne]. 24 décembre, 2021. Disponible sur : <a href="http://alejandrovze.com/hyperlinking/creolisation/">http://alejandrovze.com/hyperlinking/creolisation/</a> (consulté le 13 avril 2022)</li>


<li id="balat">Balat, Michel, <em>Psychanalyse, logique, éveil de coma. Le musement du scribe</em>, Paris, L’Harmattan, « Ouverture philosophique », 2000, p.235-238.<br>
« Le vide et la logique du vague » a été auparavant publié dans « Le vide », <em>Dires. Revue d’études psychanalytiques</em> n°19, 1996.</li>

<li id="biesta">Biesta, Gert, <em>Sporadic democracy: Education, democracy, and the question of inclusion</em>. In : M. Katz, S. Verducci & G. Biesta (Eds.), <em>Education, Democracy, and the Moral Life</em> (pp. 101-112). Houten : Springer Media, 2009</li>

<li id="blanquer-handies">Blanquer, Zig, <em>Nos existences handies</em>. Nantes : Monstrograph, 2022. (Collection Bootleg).</li>

<li id="ableism-academia">Brown, Nicole et Leigh, Jennifer (éd.). <em>Ableism in Academia</em>. UCL Press, 2020.</li>

<li id="brutpop">BrutPop, <em>Enseignement musical et handicap : 15 questions</em> [En ligne], 2021. Disponible sur : <a href="https://brutpop.blogspot.com/p/15-questions.html">https://brutpop.blogspot.com/p/15-questions.html</a> (consulté le 17 janvier, 2022)</li>

<li id="citton-postscriptum">Citton, Yves, « Post-scriptum sur les sociétés de recherche-création ». In : Brian Massumi, et Erin Manning, <em>Pensée en acte – Vingt propositions pour la recherche-création</em>. Paris : Les presses du réel, 2018.</li>

<li id="cluzel">Cluzel, Sophie, « Sophie Cluzel : vers une société inclusive ? », <i>Les Chemins de la philosophie - Philosophie du handicap</i>, France Culture, 5:30, 15 février 2022.</li>

<li>Crippen, <em>Crippen and challenging the stereotypes</em> [En ligne], Crippen Cartoons, 14 février 2020. Disponible sur : <a href="https://crippencartoons.com/2020/02/14/challenging-the-stereotypes/">https://crippencartoons.com/2020/02/14/challenging-the-stereotypes/</a> (consulté le 8 décembre 2021)</li>

<li>Dévalideuses, Les, <em>APF, hors de nos luttes!</em> [En ligne], 2021. Disponible sur : <a href="https://lesdevalideuses.org/blog/apf-hors-de-nos-luttes/">https://lesdevalideuses.org/blog/apf-hors-de-nos-luttes/</a> (consulté le 9 décembre 2021)</li>

<li id="dewey-art">Dewey, John, <em>Art as Experience</em>. New York : Perigree Books, 1934.</li>

<li id="dewey-valuation">Dewey, John, « Theory of valuation ». International Encyclopedia of Unified Science. 1939. Vol. 2,  4, p. vii + 67-vii + 67.</li>

<li id="deligny-cartes">Lettre inédite de Fernand Deligny à Louis Althusser, septembre 1976, cité par Sandra Alvarez de Toledo, <i>Introduction</i>, in <i>Cartes et lignes d'erre - Traces du réseau de Fernand Deligny 1969 - 1979, </i>Paris, L’Arachnéen, 2013, p. 1.</li>

<li id="deligny-lettres">Deligny, Fernand et Macherey, Pierre, <em>Lettres à un travailleur social</em>. Paris : l’Arachnéen, 2017.</li>

<li id="foster-ethnogrpaher">Foster, Hal, « The Artist As Ethnographer ». In : George E. Marcus, Fred R. Myeors (Éd.) <em>The traffic in culture: refiguring art and anthropology</em>. Berkeley : University of California Press, 1995. p. 302-309.</li>

<li id="freire">Freire, Paulo, <i>Pedagogy of the Oppressed. 30th anniversary ed</i>. New York : Continuum, 2000.</li>

<li id="fugazi">Fugazi, « Glue Man », <em>Fugazi</em>, Dischord Records, 1988.</li>

<li id="garces">Garcès, Marina, « L’honnêteté envers le réel ». In : CAC Brétigny [En ligne]. Disponible sur : <a href="https://www.cacbretigny.com/fr/329-l-honnetete-envers-le-reel">https://www.cacbretigny.com/fr/329-l-honnetete-envers-le-reel</a> (consulté le 24 janvier 2022)</li>

<li id="geoff">Geoff, <i>Sobriety As Accessibility: Interrogating Intoxication Culture</i> [Conférence], Reclaiming Our Bodies and Our Minds Conference, March 16, 2013. Disponible sur : <a href=
"https://www.youtube.com/watch?v=3F4lQko-d3s">https://www.youtube.com/watch?v=3F4lQko-d3s</a> (consulté le 1 novembre, 2021)</li>

<li id="ginot-imagine">Ginot, Isabelle et Salvatierra, Violeta, <em>Des imaginaires de l’émancipation par la danse</em> [En ligne]. Centre national de la danse, 2019. Disponible sur : <a href="https://hal.archives-ouvertes.fr/hal-02541104">https://hal.archives-ouvertes.fr/hal-02541104</a> (consulté le 13 avril 2022)</li>

<li id="rgb-empathy">Glyn-Blanco, Rebecca, « Discomfort Against Empathy ». <em>Errant Journal</em>. 2022. Vol. 3-Discomfort, p. 45-54. 
</li>


<li id="haraway-situated">Haraway, Donna J,., « Situated Knowledges: The Science Question in Feminism and the Privilege of Partial Perspective ». In : <em>Simians, Cyborgs, and Women.</em> New York : Routledge, 1991. p. 183‑202.</li>

<li id="haraway-trouble">Haraway, Donna J., <em>Staying with the trouble: making kin in the Chthulucene</em>. Durham : Duke University Press, 2016. 296 p. (Experimental futures: technological lives, scientific arts, anthropological voices)</li>

<li id="analyse-i">Hess, Rémi et Savoye, Antoine. <em>L’Analyse institutionnelle.</em> Paris : Presses universitaires de France, 1981. (« Que sais-je ? »).</li>

<li>hooks, bell, <i>Teaching to Transgress: Education as the Practice of Freedom</i>. New York : Routledge, 1994.</li>

<li id="illich">Illich, Ivan, <em>Deschooling society</em>. Harmondsworth : Penguin Books, 1979. (Pelican Books).</li>

<li id="ingold-education">Ingold, Tim, <em>Anthropology and/as Education</em>. Londres : Routledge, 2017.</li>

<li id="jeanne-fournier">Jeanne, Yves, Jennifer Fournier et Germaine Couture, « Faire de la recherche avec et pour des personnes ayant une déficience intellectuelle: Construction d’un programme de formation visant à faciliter leur accès à la sexualité et à la vie amoureuse ». <em>La nouvelle revue - Éducation et société inclusives</em> [En ligne]. 2019. Vol. N°87, n°3, p. 223‑239.</li>

<li id="kwon">Kwon, Miwon. <em>One place after another: site-specific art and locational identity</em>. Cambridge, Mass : MIT Press, 2002.</li>


<li id ="laes-westerlund">Laes, Tuulikki et Heidei Westerlund, « Performing disability in music teacher education: Moving beyond inclusion through expanded professionalism ». <em>International Journal of Music Education</em>, février 2018. Vol. 36, n°1, p. 34‑46.</li>

<li id="laes-phd">Laes, Tuulikki, <em>The (im)possibility of inclusion: reimagining the potentials of democratic inclusion in and through activist music education</em> [Thèse de doctorat]. Helsinki, Finland : Sibelius Academy - Uniarts Helsinki, 2017.</li>

<li id="laes-1">Laes, Tuulikki, <i>Penser l'inclusion</i> [Conférence], 4 juin 2021, Rencontres BrutPop, La Station - Gare des Mines, Paris. Disponible sur : <a href="https://www.youtube.com/watch?v=D6A1v1mnyF4&t=1997s">https://www.youtube.com/watch?v=D6A1v1mnyF4&t=1997s</a> (consulté le 29 mars, 2022)</li>

<li id="manning-gesture">Manning, Ering, <em>The Minor Gesture</em>. Durham : Duke University Press, 2016.(Thought in the act).</li>

<li id="marie-la-nuit">Marie La Nuit, Concha 3000, Radio Maintenant, <em>Les Pratiques Brutes de La Musique</em> [En ligne]. Marie La Nuit #100. Station Station, 5 avril 2022. 59 min. Disponible sur : <a href="https://www.mixcloud.com/Station_Station_radio/marie-la-nuit-100-feat-concha-3000-radio-maintenant-les-pratiques-brutes-de-la-musique/">https://www.mixcloud.com/Station_Station_radio/marie-la-nuit-100-feat-concha-3000-radio-maintenant-les-pratiques-brutes-de-la-musique/</a> (consulté le 6 avril 2022)</li>

<li>Ministère de la culture. <i>Pour un enseignement artistique accessible : Danse, musique, théâtre, Guide pratique</i>, 2020, p. 23.</li>

<li id="mitchell-snyder">Mitchell, David T. et Sharon L. Snyder, <i>The Biopolitics of Disability: Neoliberalism, Ablenationalism, and Peripheral Embodiment</i>, Ann Arbor, University of Michigan Press, coll. « Corporealities: Discourses of Disability », 2015</li>

<li id="morrigan">Morrigan, Clementine, <i>Sobriety As Accessibility: Interrogating Intoxication Culture</i> [Conférence], Reclaiming Our Bodies and Our Minds Conference, March 16, 2013. Disponible sur : <a href=
"https://www.youtube.com/watch?v=3F4lQko-d3s">https://www.youtube.com/watch?v=3F4lQko-d3s</a> (consulté le 1 novembre, 2021)</li>

<li id="pnls-breves">Nicolas-Le Strat, Pascal, <em>Brèves de recherche</em>. Puéchabon : Ours éditions, 2020.</li>

<li id="pnls-opensource">Nicolas-Le Strat, Pascal, « Libérer les processus. Vers une science sociale "open source" ». In <em>Journal PNLS</em>, mai, 2012. Disponible sur : <a href="https://pnls.fr/liberer-les-processus-vers-une-science-sociale-open-source/">https://pnls.fr/liberer-les-processus-vers-une-science-sociale-open-source/</a> (consulté le 25 janvier 2022)</li>

<li id="pnls-reciprocite">Nicolas-Le Strat, Pascal, « Pratiques de la réciprocité ». In <em>Journal PNLS</em>, septembre, 2017. Disponible sur : <a href="https://pnls.fr/pratiques-de-la-reciprocite//">https://pnls.fr/pratiques-de-la-reciprocite/</a> (consulté le 23 mai, 2022)</li>

<li id="pnls-implication">Nicolas-Le Strat, Pascal, « Impliquée, située et contextualisée. N’en jetez plus ! (Partie 1) » In <em>Journal PNLS</em>, 13 août, 2020. Disponible sur :  <a href="https://journal.pnls.fr/vendredi-13-aout-2020-impliquee-situee-et-contextualisee-nen-jetez-plus-partie-1/">https://journal.pnls.fr/vendredi-13-aout-2020-impliquee-situee-et-contextualisee-nen-jetez-plus-partie-1/</a> (consulté le 25 février 2022)</li>

<li id="pnls-voisinant">Nicolas-Le Strat, Pascal, <em>Faire recherche en voisinant: La Plaine Saint-Denis, Campus Condorcet</em>. Ours éditions : Puéchabon, 2021</li>

<li id="pnls-explicitation">Nicolas-Le Strat, Pascal, « Sans préalable. Mais en antériorités (Brève de méthode) ». In : <em>Journal PNLS</em> [En ligne], 9 avril, 2022. Disponible sur : <a href="https://journal.pnls.fr/samedi-09-avril-2022-sans-prealable-mais-en-anteriorites-breve-de-methode/">https://journal.pnls.fr/samedi-09-avril-2022-sans-prealable-mais-en-anteriorites-breve-de-methode/</a> (consulté le 12 avril 2022)</li>

<li id="nova-artec">Nova, Nicolas, <i>Bestiar.io</i> [Conférence], 7 octobre, 2021, Rencontres ArTeC, La Gaité Lyrique, Paris. Disponible sur : <a href="https://vimeo.com/639209903">https://vimeo.com/639209903</a> (consulté le 17 janvier 2022)</li>

<li id="odell">Odell, Jenny, <em>How to Do Nothing: Resisting the Attention Economy</em>. New York : Melville House, 2019. </li>

<li id="patel">Patel, Leigh, <em>Decolonizing Educational Research: From Ownership to Answerability</em>. New York : Routledge, 2016. </li>

<li id="passante-bestpractices">Passante Spaccapietra, Vincenzo, « Rule, best practice! » (10 mars, 2019), <i>A Place of Safety?</i>, (No. 1) [Audio podcast]. Disponible sur : <a href="https://www.spreaker.com/user/apospodcast/episode-1-rule-best-practice">https://www.spreaker.com/user/apospodcast/episode-1-rule-best-practice</a> (consulté le 7 avril 2022)</li>

<li id="passante-1">Passante Spaccapietra, Vincenzo, « What does "evidence-based practice" actually mean ? » (4 avril, 2019), <i>A Place of Safety?</i>, (No. 3) [Audio podcast]. Disponible sur : <a href="https://www.spreaker.com/user/apospodcast/what-does-evidence-based-actually-mean">https://www.spreaker.com/user/apospodcast/what-does-evidence-based-actually-mean</a> (consulté le 29 mars 2022)</li>

<li id="passante-stigma">Passante Spaccapietra, Vincenzo, « Stigma...with our guest Sam. » (2 mai, 2019), <i>A Place of Safety?</i>, (No. 5) [Audio podcast]. Disponible sur : <a href="https://www.spreaker.com/user/apospodcast/episode-5-stigma-with-our-guest-sam">https://www.spreaker.com/user/apospodcast/episode-5-stigma-with-our-guest-sam</a> (consulté le 7 avril, 2022)</li>

<li id="perret-deligny">Perret, Catherine, <em>Le tacite, l’humain : anthropologie politique de Fernand Deligny</em>. Paris : Éditions du Seuil, 2021. 361 p.(Librairie du XXIe siècle).</li>

<li id="portelli">Portelli, Alessandro, « What Makes Oral History Different ». In : <em>Oral History, Oral Culture, and Italian Americans</em>. New York : Palgrave Macmillan US, 2009. p. 21‑30.</li>

<li id="co-creation">Poulin, Céline et Preston, Marie, <em>Co-création</em>. Brétigny-sur-Orge : CAC Brétigny et Éditions Empire, 2019</li>

<li id="preston-ecole">Preston, Marie, <em>Inventer l’école, penser la co-création</em>, Nevers : Association Tombolo Presses, 2021.</li>

<li id="printemps">Le Printemps de la psychiatrie, <em>Communiqué de presse du 15 mars 2022 : Assises citoyennes du soin psychique</em> [En ligne]. Printemps de la psychiatrie, 15 mars 2022. Disponible sur : <a href="https://printempsdelapsychiatrie.org/2022/03/15/communique-de-presse-du-14-mars-2022-assises-citoyennes-du-soin-psychique/">https://printempsdelapsychiatrie.org/2022/03/15/communique-de-presse-du-14-mars-2022-assises-citoyennes-du-soin-psychique/</a> (consulté le 28 avril 2022)</li>

<li id="ranciere-democratie">Rancière, Jacques, <em>La haine de la démocratie</em>, Paris : La Fabrique Editions, 2005.</li>

<li id="ramas">Ramas, Panxto, <i>The Legacies of Basaglian Deinstitutionalisation of Mental Healthcare</i> [Conférence], 11 décembre, 2021, Center for Advanced Studies, University of Rijeka, Croatia. Disponible sur <a href="https://www.youtube.com/watch?v=ErXn5Z_nM7s">https://www.youtube.com/watch?v=ErXn5Z_nM7s</a> (consulté le 25 mars, 2022)</li>

<li id="riotfag">Riotfag, Nick, <i>Towards a Less Fucked Up World: Sobriety and Anarchist Struggle</i> [Fanzine], 2003</li>

<li id="abolition">Robirosa, Ivan et Van Zandt-Escobar, Alejandro, <em>Abolition A-Z</em> [En ligne]. MayDay Radio, 2021. Disponible sur : <a href="https://audio.maydayrooms.org/abolition">https://audio.maydayrooms.org/abolition</a> (consulté le 5 avril 2022)</li>

<li id="staritzky">Staritzky, Louis, <i>La recherche comme expérience(s) - Chroniques d'un atelier étudiant de recherche-action à Saint-Denis</i>. Puéchabon : Ours éditions, 2022 (Kraft).</li>

<li>Stiker, Henri-Jacques, <i>La condition handicapée</i>. Grenoble : Presses universitaires de Grenoble, 2017. 224 p. (Handicap, vieillissement, société), p. 212.</li>

<li id="upset-noise">Upset Noise, « Grigiore », <em>Disperazione Nevrotica</em>, Dischord Records, 1985.</li>


<li id="deligny-gamin">Victor, Renaud (réalisateur), <i>Ce gamin, là</i>, 1975.</li>
